* {
    box-sizing: border-box;
     text-align: justify-all;
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Arvo', serif;
}


html {
    overflow-x: hidden;
}

.detail {
  background-color: #F1F2F2;
  padding: 5%;
}


.detail img{
 box-shadow: 2px 2px 20px grey;
 border-radius: 15px;
 margin: 5%;
width:100%;
max-width: 500px;
}

.photo-nav{
  display: inline-block;
  margin-left: 25%;
  margin-top: 10px;
  color:black;
  background-color: #8cc63f;
  border-radius: 10px;
  width: 150px;
  padding: 5px;
  text-align: center;
}

.photo-nav:hover{
  color:white;
 box-shadow: 2px 2px 25px black;
}

.product-info{
border: 1px solid black;
border-radius: 15px;
margin: 15px;
box-shadow: 2px 2px 15px grey;
background-color: white;
}

.user-info{
  display:flex;
  flex-wrap:  wrap; 
    
}

.user-rating {
  display:inline-flex ;
    text-align: center;
    margin-left: 20px;
    max-width: 200px;
    margin-top: 27px;
}
.user-rating p{
  margin-left:  8px;
}


.btn-request{
  color:black;
  background-color: #8cc63f;
  border-radius: 10px;
  border-color: green;
  margin: 15px;
}

.btn-request:hover{
  color:white;
 box-shadow: 2px 2px 25px black;
}

