.table-container{
  margin-top: 110px;
  min-height: 70vh;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:hover { 
  background: #eee; 
}
th { 
  background: #FCFF00; 
  color: black; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

.message_body{
  height: 200px;
}


.btn-save{
  margin-top: 5px;
    font-size: 18px;
    width: 100%;
    padding: 9px;
    border: 0;
    border-radius: 3px;
    background-color: #EFEA07;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    color: black;
}

.btn-discard{
  margin-top: 5px;
    background-color: #91F5AD;
    font-size: 18px;
    width: 100%;
    padding: 9px;
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    color: black;
}
.btn-delete{
  text-align:center;
  margin-top: 5px;
    font-size: 15px;
    width: 130px;
    padding: 5px;
    border: 0;
    border-radius: 3px;
    background-color: #B34049;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    color: white;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

.table-container{
  margin-top: 10px;
  max-width: 400px;
  overflow: hidden;
}
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 10%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  }