* {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    text-align: justify-all;
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

.navbar-default {
  background-color: white;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  margin: none;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 }
  
.logo img{
    height: 100px;
}

.nav-menu {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu li:hover {
background-color: #EFEA07;
}

  

.nav-menu li ul a:hover {
background-color: #EFEA07;
}

#post-button{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
    border-radius: 3px;
    margin-top: 10px;
    background-color: #EFEA07;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: black;
    border:none;
}

.nav-button:hover {
    background-color: #91F5AD;
    color: black;
    font-size: 21px;
}

.dropdown-menu{
  position: absolute !important;
  z-index: 3;
  background-color: white !important;
}

.form-button{
    font-size: 20px;
    width: 100px;
    padding: 9px;
    display: inline-block;
    border: 0;
    border-radius: 3px;
    background-color: #EFEA07;
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
    color: black;
}
.form-button:hover {
    background-color: #91F5AD;
    color: black;
    font-size: 21px;
}

.banner {
    margin-top: 115px;
    padding-top: 15px;
    background: url("../img/backimage.jpg") 100% 38%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #EFEA07;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 55px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.banner form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.inbanner-form input {
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px
}

.inbanner-form > input:focus {
    outline: none;
}

.item-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 25px;
    padding: 0px;
    border-radius: 5px;
  /*  box-shadow: 1px 1px 1px 1px grey;*/
 
    max-width: 300px;
    max-height: 500px;
}

.item:hover {
    box-shadow: 1px 1px 1px 1px grey;
}

.recipe-show {
    align-self: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 200px;
    background-size: cover;  
}


.item > div {
    display: flex;
    flex-wrap:  wrap;
    text-align: center;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 0.5px solid grey;
    border-top: 0;
    height: 170px;
    background-color: white;
}

.item div h3{
  margin-top: -5px;
  width: 100%;
}

.item-location p{
    width: 100%;
    font-size:  12px;
}

.prod-owner{
  display:flex;
  align-items:center;
}

.prod-owner img{
  height: 80px;
  width: 80px;
  border-radius: 5px;
  padding: 5px;
  background-size: cover;
}

.prod-owner a{
color: black;
}


.free-icon {
    position:absolute;
    margin-top: -15px;
    width: 80px;
    border-radius: 5px;
    background-color: #EFEA07;
    color: black;
    text-align: center;
}
.reserved-icon{
    position:absolute;
    margin-top: -15px;
    width: 80px;
    border-radius: 5px;
    background-color: #91F5AD;
    color: black;
    text-align: center;
}
.given-icon{
    position:absolute;
    margin-top: -15px;
    width: 80px;
    border-radius: 5px;
    background-color: #F79256;
    color: black;
    text-align: center;
}

.advice {
    text-align: center;
    background-color: #F6F377;
    padding-top: 20px;
}

.advice div{
    padding: 15px;
}

.about {
    text-align: center;
    background-color: black;
    padding: 10px;
    color:white;
}

@media screen and (min-width: 300px) and (max-width: 520px) {
  .banner{
    margin-top: 200px;
  }

}