                <div class="container info">
                  <div class="col-xs-12">
                         <h1> Información: </h1>
                           </div >
                    <div class="col-xs-12">
                        <p class="parag" >KOMOREBI es un proyecto solidario para fomentar la reutilización de objetos, en un futuro va a permitir no sólo regalar objetos materiales sino cualquier cosa que puedas imaginar.</p>
                        
                    </div>
                    <div class="col-xs-12">
                        <p class="parag">Contacta con nosotros en: komorebiapp@gmail.com </p>
                   
                </div>
                   </div>