 <!-- Extra info area -->
           
        <footer>
            <div class="advice">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h2> Share things.</h2>
                        <p class="lead">Sharing is caring, give away all that stuff you don't use to those who may need it!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Feel Good.</h2>
                        <p class="lead">After giving things you will feel so good with yourself you will not be able to stop!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Recycle.</h2>
                        <p class="lead">This is the easiest way of reusing instead of throwing away that doesn't involve money.</p>
                    </div>
                </div>
            </div>
        </footer>

        