 <!-- Extra info area -->
           
        <footer>
            <div class="advice">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h2> Comparte.</h2>
                        <p class="lead">Compartir es vivir, regala todo eso que no necesitas, seguramente alguien lo necesite!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Bienestar.</h2>
                        <p class="lead">Regalar cosas te hace sentir bien. Cuidado, puede ser adictivo!</p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <h2> Recicla.</h2>
                        <p class="lead">Esta es la forma más cómoda de reutilizar y no cuesta dinero.</p>
                    </div>
                </div>
            </div>

            <div class="about">
                
            Contáctanos!
            
            </div>


        </footer>

        