<link rel="stylesheet" href="../css/messages-view.css">
<div class='table-container'>
  <a  href="#!/messages/{{loggedUser.id}}">Volver a mensajes</a>

<table class="message-view">
  <thead>
      <tr>
          <th>De.</th>
          <th>Tema.</th>
          <th>Mensaje.</th>
          <th ng-if="message.sender === loggedUser.id">Enviado</th>
          <th ng-if="message.sender != loggedUser.id">Recibido</th>
      </tr>
  </thead>
  <tbody>
    <tr >
      <td>
        {{message.from}}
      </td>
        <td class="message_subject">
          {{message.subject}}
        </td>
        <td class="message_body">
          {{message.body}}
        </td>
        <td class="message-data" >
          <p >{{message.timestamp | date : 'short'}}</p>
        </td>
        <td class="message-send">
          <button  ng-if="message.sender != loggedUser.id" data-target="#messageModal" data-toggle="modal" class="btn btn-save">Responder</button>
          <button  ng-if="message.sender === loggedUser.id" data-target="#messageModal" data-toggle="modal" class="btn btn-save">Enviar mensaje</button>
        </td>
        <td class="text-center message-send">
          <a href="#!/messages/{{loggedUser.id}}" ng-click="editMessage(message._id)" >Marcar como no leído</a>
        </td>
        <td class="message-send">
          <a href="#!/messages/{{message.recipient}}" ng-if="message.sender === loggedUser.id" ng-click="deleteMessage(message._id)" class="btn btn-delete" >Eliminar</a>
        </td>
    </tr>
  </tbody>
</table>

</div>

<!-- Message Modal -->
       <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <form class="form"  >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Enviar mesaje</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                <textarea ng-model="messageBody"  cols="30 " rows="5 " placeholder="Escribe tu mensaje... "></textarea>
            </div>
        </div>
    </div>
      </div>
      <div class="modal-footer ">
                     <button type="button" class="btn btn-discard" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class=" btn-save form-button" onclick="$('.modal').modal('hide')" ng-click='addMessage($event)' >Enviar</button>
      </div>
    </form>
    </div>
  </div>
</div>
