 <header class="navbar navbar-default">
        <nav>
                <div class="navbar-default nav-main">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#!/"><img class="logo" src="./img/LOGO/logo1.png"></a>
                        </li>
                    </ul>
                <div id="post-button">
                <a href="#!/postitem"><button class="btn-success nav-button"> Regala un objeto!</button></a>
                </div>
                    <ul class="nav navbar-nav nav-menu" ng-controller="NavbarCtrl">
                        <li ng-hide="loggedUser"><a href="#!/login">Iniciar sesión <i class="glyphicon glyphicon-user"></i></a></li>
                        <li ng-hide="loggedUser"><a href="#!/register">Registrarse</a></li>
                        <li ng-show="loggedUser">
                            <a  ng-click="logout()" href="#">Cerrar sesión</a>
                        </li> 
                        <li ng-show="loggedUser">
                            <a  href="#!/private">Perfil <i class="glyphicon glyphicon-pencil"></i></a>
                        </li> 
                        <li ng-show="loggedUser">
                            <a  href="#!/messages/{{loggedUser.id}}">Mensajes <span ng-show="unread">{{unread}}</span> <i class="glyphicon glyphicon-envelope"></i></a>
                        </li>
                    </ul>

                </div>
        </nav>
    </header>
