<div class="post-form">
    <form enctype='multipart/form-data'>
        <div class="modal-body">
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group ">
                            <div class="col-md-3">
                                <p>Introduce el nombre:</p>
                                <input type="text" class="form-control" ng-model="name" placeholder="Nombre ... ">
                                <p>Categoría:</p>
                                <input type="text" class="form-control" ng-model="category" placeholder="Category ... ">
                            </div>
                            <div class="col-md-3">
                                <p>Ciudad:</p>
                                <input type="text" class="form-control" ng-model="location" placeholder="Ciudad ... ">
                                <p>Código postal:</p>
                                <input type="text" class="form-control" ng-model="postalCode" placeholder="Código postal ... ">
                            </div>
                            <div class="col-md-6">
                                <p>Escribe una descripción:</p>
                                <textarea type="text " class="form-control" ng-model="description" rows="5 " placeholder="Descripción... "></textarea>
                            </div>
                            <div class="col-md-12">
                                <p>Sube una imagen:</p>
                                <input name="file" type="file" ngf-select="fileSelected($files)" accept="'image/*'">
                                <button type="submit " ng-click=" addProduct($event)" class="btn-upload form-button">Subir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
