<link rel="stylesheet" href="css/login.css">


    <div class="login col-md-4 col-md-offset-4">

      <h1>Registrar un Nuevo Usuario</h1>
      <form role="form" ng-submit="register()">
        <div class="form-group">
          <label>Nombre de usuario:</label>
          <input type="text" class="form-control" placeholder="John Potato..." ng-model="username" required>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" ng-model="password" placeholder="******************" required>
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" class="form-control" ng-model="email" placeholder="john.p@gmail.com" required>
        </div>
        <button type="submit" class=" btn-login">
          Regístrarse
        </button>
      </form>
      <p class="extra-link">¿Ya tienes cuenta? <a href="#!/login">Entra aquí!</a></p>
    </div>

  </div>
</div>